mixin icon(name)
	svg(class="icon-" + name)
		use(xlink:href="#"+ name)

mixin nav-menu
	nav.nav-menu
		button(type="button" data-modal='modal-menu').nav-burger.js-popup-button
			span.nav-burger__line
			span.nav-burger__line
			span.nav-burger__line
		a.nav-home-btn(href="/", title="На Главную")
			+icon('velcom-logo-black')
		a.nav-mob-btn(href="tel:+375 29 600 20 20") +375 29 600 20 20
			span Техническая поддержка
		ul.nav-menu__list
			li.nav-menu__item
				a.nav-menu__link(href="#") Дата-центр
			li.nav-menu__item
				a.nav-menu__link(href="#") Приватность информации
			li.nav-menu__item
				a.nav-menu__link(href="#") Услуги
			li.nav-menu__item
				a.nav-menu__link(href="#") Наши проекты
			li.nav-menu__item
				a.nav-menu__link(href="#") Контакты
		.nav-menu__btn-wrap
			button.application-btn.link-border.js-popup-button(type="button", data-modal='fast-application')
				span.application-btn__desc Оставить заявку
				span.application-btn__mob
					+icon('envelope')

mixin search-form(add_class, value)
	div(class="search-form search-form_"+add_class)
		form.search-form__form(action="#")
			input(type="search", value=""+value).search-form__field
			button.search-form__serch-btn(type="submit")
				+icon('search')

mixin link-navigation(links)
	ul.link-navigation
		each link,index in links
			if index == 0
				li.link-navigation__item
					a.link-navigation__link.link-navigation__link_active(href="#")= link
			else 
				li.link-navigation__item
					a.link-navigation__link(href="#")= link

mixin contacts-header
	.contacts-header
		.contacts-header__logo
			a.header-logo(href="/")
				span.header-logo__icon
					+icon('velcom-logo')
				span.header-logo__text DataCenter
		.contacts-header__phones
			a.contacts-header__link(href="tel:411") 411
				span Бесплатно в сети velcom
			a.contacts-header__link(href="te:+375 29 600 20 20") +375 29 600 20 20
				span Техническая поддержка

mixin link-more(text, add_class)
	a(href="#", class="link-more "+add_class)= text
		span.link-more__arrow
			+icon('arrow-circle')

mixin datacenter-characteristics(val, text)
	.datacenter-characteristics__item
		.datacenter-characteristics__value= val
		.datacenter-characteristics__desc.text-primary= text

mixin v-style-text(text)
	span.v-style-text=text

mixin news-item(img, short_text, date, add_class, tags)
	if(add_class)
		div(class="news-item "+add_class)
			a(href="").news-item__inner
				div(class="news-item__img "+add_class)
					img(src="img/"+img, alt="")
				div(class="news-item__short "+add_class)
					p.text-primary.news-item__text= short_text
					p.text-primary.news-item__info
						span.news-item__date= date
						span.news-item__tags= tags
	else
		.news-item
			a(href="").news-item__inner
				.news-item__img
					img(src="img/"+img, alt="")
				.news-item__short
					p.text-primary.news-item__text= short_text
					p.text-primary.news-item__info
						span.news-item__date= date
						span.news-item__tags= tags

mixin breadcrumbs(crumbs)
	.breadcrumbs
		each crumb in crumbs
			a.breadcrumbs__link(href="#")= crumb

mixin worker-item(photo, name, position)
	.worker-item
		.worker-item__photo
			img(src="img/worker/"+photo, alt="worker-item")
		p.worker-item__name= name
		p.worker-item__position= position

mixin document-item(date, title)
	a(href="#").document-item
		.document-item__info
			p.document-item__date= date
			p.document-item__title= title
		.document-item__icon
			+icon('documents')

mixin sertificate(date, title, min_img, i)
	a.sertificate-item.js-popup-button.ajax-trigger(href="#", data-modal='popup-contents', data-href='sertificate-popup.html', data-slideto=''+i)
		.sertificate-item__img
			img(src="img/"+min_img, alt="sertificate")
		.sertificate-item__info
			h4.h4.sertificate-item__title= title
			p.text-small.sertificate-item__date= date

mixin infrastructure-links-item(links)
	each link, index in links
		if index == 0
			a(href="").infrastructure-links__item.active= link
		else 
			a(href="").infrastructure-links__item= link

mixin gallery-album(img, title, count)
	a.gallery-album(href="#")
		.gallery-album__image
			img(src="img/"+img, alt="album gallery")
		.gallery-album__info
			.gallery-album__title.h3= title
			.gallery-album__count.text-primary
				span.gallery-album__total= count
				span &nbsp;фото

mixin gallery-photo(image, i)
	a.gallery-photo.js-popup-button.ajax-trigger(href="#", data-modal="popup-contents", data-href='gallery-album-1.html', data-slideto=''+i)
		img(src="img/"+image, alt="gallery-photo")

mixin paginate
	.paginate
		a(href="#").paginate__arrow.paginate__arrow_prev
			+icon('arrow-circle')
		.paginate-button
			a(href="#").paginate__link 1
			span.paginate__devider ...
			a(href="#").paginate__link 4
			a(href="#").paginate__link.active 5
			a(href="#").paginate__link 6
			span.paginate__devider ...
			a(href="#").paginate__link 12
		a(href="#").paginate__arrow.paginate__arrow_next.paginate__arrow_disable
			+icon('arrow-circle')

mixin link-banner(title, link, img, strong)
	.link-banner(style="background-image:url('img/"+img+"')")
		.link-banner__title.h3= title
		if strong
			.link-banner__strong= strong
		a(href="#").link-button.link-button_small= link

mixin project-item(img, logo, title, info, add_class)
	a(href="", class="project-item "+add_class)
		.project-item__head
			img(src="img/"+img, alt="project img")
			.project-item-decor
				.project-item-decor__logo
					img(src="img/png/"+logo, alt="project logo")
				.project-item-decor__experience Лучший опыт
		.project-item__body
			h4.h4.project-item__title
				span.project-item__t-text= title
				span.project-item__t-arrow
					+icon('arrow-circle')
			p.text-primary.project-item__info= info