//TODO need modals!!!
include _mixins.pug

.modal-layout(data-modal='popup-success').js-popup-container
	.modal-container.success-modal
		button(type="button").pop-close.closePopup
				+icon('close')
		.modal-container-inner
			.content-area
				h2 Ваша заявка принята
				p В ближайшее время наш менеджер свяжется с вами для уточнения деталей

.modal-layout(data-modal='popup-contents').js-popup-container

.modal-layout(data-modal='popup-gallery').js-popup-container

.modal-layout(data-modal='view-img-popup').js-popup-container
	.modal-container.contents-modal.gallery-modal
		button(type="button").pop-close.closePopup
				+icon('close')
		.modal-container-inner
			.modal-container-img

.modal-layout.modal-layout_fade-left(data-modal='modal-menu').js-popup-container
	.modal-container.modal-menu
		.pop-close.closePopup
			+icon('close')
		.modal-menu-inner
			.modal-menu__header
				a.header-logo(href="/")
					span.header-logo__icon
						+icon('velcom-logo')
					span.header-logo__text DataCenter
			.modal-menu-body
				.modal-menu__nav
					.modal-menu__menu
						a(href="#") Главная
						a(href="#") Приватность информации
						a(href="#") Наши клиенты и проекты
						a(href="#") Партнёры
						a(href="#") Контакты
					.modal-menu__menu.modal-menu__menu_lvl
						a(href="#") Дата-центр
						.modal-menu__sub-menu
							a(href="#").text-primary Команда
							a(href="#").text-primary Документы
							a(href="#").text-primary Сертификаты
							a(href="#").text-primary Инфраструктура
							a(href="#").text-primary Новости
							a(href="#").text-primary Галерея
					.modal-menu__menu.modal-menu__menu_lvl
						a(href="#") Услуги
						.modal-menu__sub-menu
							a(href="#").text-primary Co-location
							a(href="#").text-primary Выделенный сервер
							a(href="#").text-primary IaaS
				.modal-menu__contacts
					.modal-menu__info
						.text-small.modal-menu__c-title Справочно-информационная служба
						.modal-menu__link-wrap
							a(href="tel:+375 29 600 04 11") +375 29 600 04 11
							| , доб.&nbsp;6
						.modal-menu__mail-wrap
							a(href="mailto:info@velcom.by") info@velcom.by
						.text-small.modal-menu__c-title_inner Тел./факс
						.modal-menu__link-wrap
							a(href="tel:+375 29 600 04 12") +375 29 600 04 12
					.modal-menu__info.modal-menu__info_lvl
						.text-small.modal-menu__c-title Техническая поддержка
						.modal-menu__link-wrap
							a(href="tel:+375 29 600 20 20") +375 29 600 20 20
						.modal-menu__link-wrap
							a(href="tel:+375 29 600 20 20") +375 29 600 20 20
						.modal-menu__mail-wrap
							a(href="mailto:support@velcom.by") support@velcom.by
					.modal-menu__info.modal-menu__info_empty

.modal-layout.modal-layout_fade-right(data-modal='fast-application').js-popup-container
	.modal-container.application-modal
		.pop-close.closePopup
				+icon('close')
		.modal-container-inner
			form(action="#").js-validate
				.form-block
					.form-block__head
						.h2.form-block__title Заявка в техподдержку
					.form-block__body
						.form-content
							.form-content-head Контактные данные
							.input-row
								.input-item.w100
									.input-wrapper
										input.input-main(
											type="text",
											data-validation="required",
											data-validation-error-msg="Поле обязательно для заполнения",
											name="clieentName",
											id="clieentName"
										)
										label.input-label(for="clieentName") ФИО*
								.input-item.w50
									.input-wrapper
										input.input-main(
											type="text",
											data-validation="email",
											data-validation-error-msg="Введите корректный e-mail",
											name="clieentEmail",
											id="clieentEmail"
										)
										label.input-label(for="clieentEmail") Email*
								.input-item.w50.telwrapper
									.input-wrapper
										select.input-main.js-select.countryTels(name='telCountry',id='telCountry-1')
											option(value="+375", data-img='img/png/blr.png') +375
											option(value="+776", data-img='img/png/blr.png') +776
											option(value="8 099", data-img='img/png/blr.png') 8 099
										label.input-label.fixed(for="telCountry-1") Регион
									.input-wrapper
										input.input-main(
											type="tel",
											data-validation="custom",
											data-validation-regexp="^[-0-9()+ ]+$",
											data-validation-error-msg="Введите корректный номер телефона",
											name="clieentPhone",
											id="clieentPhone-1")
										label.input-label.sm(for="clieentPhone-1") Контактный телефон
						hr.form-content-devider
						.form-content
							.form-content-head Тема обращения
							.input-row
								.radio-group
									.radio-wrapper
										input.radio-input(
											type="radio", 
											name="radio-group1", 
											id="radio-11", data-validation="required",
											data-display-trigger='theme-question',
											data-display-trigger-value='1',
											checked)
										label.radio-label(for="radio-11")
											.radio-label__custom
												.radio-label__check
											.radio-label__text Вопрос по услугам
									.radio-wrapper
										input.radio-input(
											type="radio", 
											name="radio-group1", 
											id="radio-21",
											data-display-trigger='theme-question',
											data-display-trigger-value='2')
										label.radio-label(for="radio-21")
											.radio-label__custom
												.radio-label__check
											.radio-label__text Общие вопросы
									.radio-wrapper
										input.radio-input(
											type="radio", 
											name="radio-group1", 
											id="radio-31",
											data-display-trigger='theme-question',
											data-display-trigger-value='3')
										label.radio-label(for="radio-31")
											.radio-label__custom
												.radio-label__check
											.radio-label__text Регистрация инцидента
							/// контейнер для блоков
							.form-content(data-display-container='theme-question')
								
					.form-block__footer
						.input-row
							.input-item.w100
								label.check-label
									input(
										type="checkbox",
										data-trigger="btn-submit")
									.check-label__custom
										.check-label__checked
											+icon('checked')
									| Даю согласие на обработку моих 
									a(href="#") персональных данных
						button.button-submit.disabled-field(
						type="submit",
						data-target="btn-submit",
						value="Отправить") Отправить
			// сюда кладем блоки, которые надо вставить
			.form-appended-els(style='display: none;')
				/// блок 1
				.input-row(data-display-target='theme-question',data-display-trigger-value='1')
					.text-small Укажите минимум данных и мы перезвоним вам в течение 
						strong 30 минут в рабочее время (с 8:30 до 17:30), 
						| чтобы уточнить требования по телефону
					hr.form-content-devider
					.input-item.w100
						.input-wrapper
							// у селектов в конейнере для добавление не должно быть класса .js-select
							select.input-main(
									name='Category', 
									id='Category',
									data-validation='length', 
									data-validation-length='min1',
									data-placeholder='Разъёмы электропитания')
								option(value="1") Co-location
								option(value="2") Выделенные сервера
								option(value="3") Категория 3
								option(value="4") IaaS
								option(value="5") Другое
					.input-item.w100
						.input-wrapper
							textarea.input-main(
								id="quest-0"
								type="text",
								rows="4",
								data-validation="length",
								data-validation-length="50-200")
							label.input-label(for="quest-0") Вопрос *
				/// конец блок 1
				/// блок 2
				.input-row(data-display-target='theme-question',data-display-trigger-value='2')
					.text-small Другой текс, которого может быть, а может не быть
						strong меняется, 
						| чтобы уточнить требования по телефону
					hr.form-content-devider
					.input-item.w100
						.input-wrapper
							textarea.input-main(
								type="text",
								rows="4")
							label.input-label Вопрос *
				/// конец блок 2
				.input-row(data-display-target='theme-question',data-display-trigger-value='3')
					.input-item.w100
						.input-wrapper
							select.input-main(name='Category', 
														id='Category',
														data-validation='length', 
														data-validation-length='min1',
														data-validation-event="change",
														data-placeholder='Разъёмы электропитания')
								option(value="1") Критический
								option(value="2") Высокий
								option(value="3",selected) Обычный
