extends _layout
include includes/_mixins.pug


block title
	title Контакты
block config
	- var main = true
block content
	.header-wrapper
		+contacts-header
		.wrapper-bg(style="background-image:url('img/promo.jpg')")
		.box
			.header-inner.header-inner_inner-page.header-inner_animate
				.header-inner__title
					h1.h1 Контакты
	.box
		+breadcrumbs(['Главная', 'Контакты'])
	.box
		.content-wrap
			aside.side-bar.js-stick-parent
				.side-bar-banner.js-stick
					+link-banner('Бесплатный звонок в сети velcom 411', 'Заказать звонок', 'side-banner-1.jpg')
			.content-inner
				.contats-page
					.contacts-page__title
						h2.h2 Дата-центр velcom
						+link-more('Обратная связь', 'title-link')
					.contacts-wrap
						.contacts-item
							p.text-small.contacts-item__title Справочно-информационная служба
							.contacts-item__link.contacts-item__link_big
								a(href="tel:+375 29 600 04 11") +375 29 600 04 11
								| , доб.&nbsp;6
							.contacts-item__link
								a(href="mailto:info@velcom.by") info@velcom.by
							p.text-small.contacts-item__subtitle Тел./факс
							.contacts-item__link.contacts-item__link_big
								a(href="tel:+375 29 600 04 12") +375 29 600 04 12
						.contacts-item
							p.text-small.contacts-item__title Техническая поддержка
							.contacts-item__link.contacts-item__link_big
								a(href="tel:+375 29 600 20 20") +375 29 600 20 20
							.contacts-item__link.contacts-item__link_big
								a(href="tel:+375 29 600 20 20") +375 29 600 20 20
							.contacts-item__link
								a(href="mailto:support@velcom.by") support@velcom.by
						.contacts-item
							p.text-small.contacts-item__title Адрес
							.text-primary.text-primary_black ул. Новорязанская, д. 26, стр. 1 220056, Республика Беларусь, г. Минск
							ul.text-primary.contacts-item__subtitle
								li Пн–пт: 8:00–21:00
								li Сб–вс: выходной
							.contacts-item__link
								a(href="#") Схема проезда
									span.contacts-item__link-icon
										+icon('download')
						.contacts-item
							p.text-small.contacts-item__title Реквизиты
							.text-primary.text-primary_black УП «Велком» Юридический адрес: 220030, Республика Беларусь, г.Минск, ул. Интернациональная, 36-2. Почтовый адрес: 220141, г. Минск, пр. Независимости, д. 168, корп. 2, к. 12

					.map-container
						#map.map-elem(data-lat='53.943744', data-lon='27.521280', data-icon='img/svg/point.svg')
					.contacts-form
						form(action="#").js-validate
							.form-block
								.form-block__head
									.h2.form-block__title Форма заказа услуги
									.text-small Заполните форму и мы перезвоним вам в течение 
										strong 30 минут
								.form-block__body
									hr.form-content-devider
									.form-content
										.form-content-head Контактные данные
										.input-row
											.input-item.w100
												.input-wrapper
													input.input-main(
														type="text",
														data-validation="required",
														data-validation-error-msg="Поле обязательно для заполнения",
														name="clieentName",
														id="clieentName"
													)
													label.input-label(for="clieentName") ФИО*
											.input-item.w50
												.input-wrapper
													input.input-main(
														type="phone",
														data-validation="custom",
														data-validation-regexp="^[-0-9()+ ]+$",
														data-validation-error-msg="Введите корректный номер телефона",
														name="clieentPhone",
														id="clieentPhone")
													label.input-label(for="clieentPhone") Телефон*
											.input-item.w50
												.input-wrapper
													input.input-main(
														type="text",
														data-validation="email",
														data-validation-error-msg="Введите корректный e-mail",
														name="clieentEmail",
														id="clieentEmail"
													)
													label.input-label(for="clieentEmail") Email*
									hr.form-content-devider
									.form-content
										.form-content-head Тема обращения
										.input-row
											.input-item.w100
												.input-wrapper
													select.input-main.js-select(name='Category', 
																				id='Category',
																				data-validation='length', 
																				data-validation-length='min1',
																				data-validation-event="change",
																				data-placeholder='Разъёмы электропитания',
																				data-trigger='otherQuestions',data-trigger-value='5')
														option(value="1") Co-location
														option(value="2") Выделенные сервера
														option(value="3") Категория 3
														option(value="4") IaaS
														option(value="5") Другое
											.input-item.w100
												.input-wrapper
													textarea.input-main(
														type="text",
														rows="4",
														disabled='true',
														data-validation="length",
														data-validation-length="50-200",
														data-target='otherQuestions')
													label.input-label Вопрос *
								.form-block__footer
									.input-row
										.input-item.w100
											label.check-label
												input(
													type="checkbox",
													data-trigger="btn-submit")
												.check-label__custom
													.check-label__checked
														+icon('checked')
												| Даю согласие на обработку моих 
												a(href="#") персональных данных
									button.button-submit.disabled-field(type="submit", data-target="btn-submit", value="Оставить заявку") Оставить заявку