extends _layout
include includes/_mixins.pug


block title
	title INPUT
block config
	- var main = true
block content
	.header-wrapper
		+contacts-header
		.wrapper-bg(style="background-image:url('img/promo.jpg')")
		.box
			.header-inner.header-inner_inner-page
				.header-inner__title.fade-down
					h1.h1 INPUT
	.box
		+breadcrumbs(['Главная', 'Команда'])
	.box
		.content-wrap
			aside.side-bar.js-stick-parent
				.side-bar-nav.js-stick
					a(href="#").side-bar-nav__mob-btn.show-sidebar-menu
						span.link-value ...
						span.link-i-arrow
							+icon('arrow_down')
					+link-navigation(['Команда', 'Документация', 'Сертификаты', 'Инфраструктура', 'Новости', 'Галерея'])
			.content-inner
				form(action="#").js-validate
					.form-block
						.form-block-head
							.h2 Форма заказа услуги
							.text-small Заполните форму и мы перезвоним вам в течение 
								strong 30 минут
						.form-block-body
							hr.form-content-devider
							.form-content
								.form-content-head Контактные данные
								.input-row
									.input-item.w100
										.input-wrapper
											input.input-main(
												type="text",
												data-validation="required",
												data-validation-error-msg="Поле обязательно для заполнения",
												name="clieentName",
												id="clieentName"
											)
											label.input-label(for="clieentName") ФИО*
									.input-item.w50
										.input-wrapper
											input.input-main(
												type="text",
												name="clieentFrim",
												id="clieentFrim")
											label.input-label(for="clieentFrim") Организация
									.input-item.w50
										.input-wrapper
											input.input-main(
												type="text",
												data-validation="email",
												name="clieentEmail",
												id="clieentEmail"
											)
											label.input-label(for="clieentEmail") Email*
									.input-item.w50
										.input-wrapper
											input.input-main(
												type="phone",
												data-validation="custom",
												data-validation-regexp="^[-0-9()+ ]+$",
												data-validation-error-msg="Введите корректный номер телефона",
												name="clieentPhone",
												id="clieentPhone")
											label.input-label(for="clieentPhone") Телефон*
									.input-item.w50
										.input-wrapper
											input.input-main(type="text")
											label.input-label Должность
									.input-item.w100
										.input-wrapper
											textarea.input-main(
												type="text",
												rows="6")
											label.input-label Вопрос
									.radio-group
										.radio-wrapper
											input.radio-input(
												type="radio", 
												name="radio-group", 
												id="radio-1")
											label.radio-label(for="radio-1")
												.radio-label__custom
													.radio-label__check
												.radio-label__text Вопрос по услугам
										.radio-wrapper
											input.radio-input(
												type="radio", 
												name="radio-group", 
												id="radio-2")
											label.radio-label(for="radio-2")
												.radio-label__custom
													.radio-label__check
												.radio-label__text Общие вопросы
										.radio-wrapper
											input.radio-input(
												type="radio", 
												name="radio-group", 
												id="radio-3")
											label.radio-label(for="radio-3")
												.radio-label__custom
													.radio-label__check
												.radio-label__text Общие вопросы
							hr.form-content-devider
							.form-content
								.form-content-head Аренда дополнительного оборудования
								.input-row
									.radio-group
										.radio-wrapper
											input.radio-input(
												type="radio", 
												name="dob-ob", 
												id="dob-ob-1",
												data-trigger="field-target",
												data-dis="0")
											label.radio-label(for="dob-ob-1")
												.radio-label__custom
													.radio-label__check
												.radio-label__text Да
										.radio-wrapper
											input.radio-input(
												type="radio", 
												name="dob-ob", 
												id="dob-ob-2",
												data-trigger="field-target",
												data-dis="1")
											label.radio-label(for="dob-ob-2")
												.radio-label__custom
													.radio-label__check
												.radio-label__text Нет
									.input-item.w100
										.input-wrapper
											textarea.input-main(
												type="text",
												rows="6",
												id="textar",
												data-target="field-target")
											label.input-label(for="textar") Комментарий
								.input-row
									.input-item.w100
										label.check-label
											input(
												type="checkbox",
												data-trigger="group-field",
												name="check-disable")
											.check-label__custom
												.check-label__checked
													+icon('checked')
											span.check-label__text Даю согласие
								
									.input-item.w50
										.input-wrapper
											input.input-main.disabled-field(
												type="text",
												name="clieentFrim",
												id="clieentFrim",
												data-target="group-field")
											label.input-label(for="clieentFrim") Организация
									.input-item.w50
										.input-wrapper
											input.input-main.disabled-field(
												type="text",
												data-validation="email",
												data-validation-depends-on="check-disable",
												name="clieentEmail",
												id="clieentEmail",
												data-target="group-field"
											)
											label.input-label(for="clieentEmail") Email*
							hr.form-content-devider
							.form-content
								.input-row
									.input-item.w100
										.input-wrapper
											.select-check.js-select-custom
												.select-carret
													+icon('arrow_down')
												button.selects.dropdown(data-placeholder='Год')
													span.btn-text Год
												.dropdown-target
													.dropdown-inner
														.dropdown-content
															.select-u-body.select-list
																label.option
																	input(type='radio', name='yeats', value='2015')
																	span 2015
																label.option
																	input(type='radio', name='yeats', value='2016')
																	span 2016
																label.option
																	input(type='radio', name='yeats', value='2017')
																	span 2017
																label.option
																	input(type='radio', name='yeats', value='2018')
																	span 2018
									.input-item.w50
										.input-wrapper
											.select-check.js-select-custom
												.select-carret
													+icon('arrow_down')
												button.selects.dropdown(data-placeholder='Год')
													span.btn-text Год
												.dropdown-target
													.dropdown-inner
														.dropdown-content
															.select-u-body.select-list
																label.option
																	input(type='radio', name='yeats', value='2015')
																	span 2015
																label.option
																	input(type='radio', name='yeats', value='2016')
																	span 2016
																label.option
																	input(type='radio', name='yeats', value='2017')
																	span 2017
																label.option
																	input(type='radio', name='yeats', value='2018')
																	span 2018
																label.option
																	input(type='radio', name='yeats', value='2015')
																	span 2015
																label.option
																	input(type='radio', name='yeats', value='2016')
																	span 2016
																label.option
																	input(type='radio', name='yeats', value='2017')
																	span 2017
																label.option
																	input(type='radio', name='yeats', value='2018')
																	span 2018
									.input-item.w50
										.input-wrapper
											.select-check.js-select-custom
												.select-carret
													+icon('arrow_down')
												button.selects.dropdown(data-placeholder='Год')
													span.btn-text Год
												.dropdown-target
													.dropdown-inner
														.dropdown-content
															.select-u-body.select-list
																label.option
																	input(type='radio', name='yeats', value='2015')
																	span 2015
																label.option
																	input(type='radio', name='yeats', value='2016')
																	span 2016
																label.option
																	input(type='radio', name='yeats', value='2017')
																	span 2017
																label.option
																	input(type='radio', name='yeats', value='2018')
																	span 2018
																label.option
																	input(type='radio', name='yeats', value='2015')
																	span 2015
																label.option
																	input(type='radio', name='yeats', value='2016')
																	span 2016
																label.option
																	input(type='radio', name='yeats', value='2017')
																	span 2017
																label.option
																	input(type='radio', name='yeats', value='2018')
																	span 2018			
									.input-item.w50
										.input-wrapper
											.input-counter-nav
												button(type="button", class="input-counter-btn inc")
													+icon('arrow_down')
												button(type="button", class="input-counter-btn dec")
													+icon('arrow_down')
											input.input-main.input-counter(
												id="count-1",
												type="number",
												data-min="1", 
												data-max="20")
											label.input-label(for="count-1") Количество разъёмов (шт)
									.input-item.w50
										.input-wrapper
											.input-counter-nav
												button(type="button", class="input-counter-btn inc")
													+icon('arrow_down')
												button(type="button", class="input-counter-btn dec")
													+icon('arrow_down')
											input.input-main.input-counter(
												id="count-2",
												type="number",
												data-min="1",
												data-max="20",
												data-step="3")
											label.input-label(for="count-2") Количество стоек (шт)
						.form-block-footer
							.input-row
								.input-item.w100
									label.check-label
										input(type="checkbox")
										.check-label__custom
											.check-label__checked
												+icon('checked')
										span.check-label__text Даю согласие на обработку моих 
											a(href="#") персональных данных
							input.input-submit(type="submit", value="Оставить заявку")